Repository slagle/ci-framework: changes, and which Zuul jobs are due for each by the changed paths.
All: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-galera-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-crc-podified-edpm-deployment-crc-extracted

cifmw-crc-podified-edpm-deployment:
  parent: cifmw-base-crc-openstack
  run: ci/playbooks/edpm/run.yml

cifmw-crc-podified-edpm-baremetal:
  parent: cifmw-base-crc-openstack
  run: ci/playbooks/edpm_baremetal_deployment/run.yml

cifmw-crc-podified-galera-deployment:
  parent: cifmw-crc-podified-edpm-deployment-crc-extracted
  nodeset: crc-extended
  vars:
    cifmw_deploy_edpm: false
    cifmw_use_libvirt: false
    podified_validation: true
    make_openstack_deploy_params:
      GALERA_REPLICAS: 3

ci-framework-crc-podified-edpm-deployment:
  parent: cifmw-crc-podified-edpm-deployment

ci-framework-crc-podified-galera-deployment:
  parent: cifmw-crc-podified-galera-deployment

ci-framework-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal

cifmw-crc-podified-edpm-deployment-crc-extracted:
  parent: base-extracted-crc
  timeout: 10800
  attempts: 1
  nodeset:
    nodes:
    - name: controller
      label: cloud-centos-9-stream-tripleo-vexxhost
    - name: compute
      label: cloud-centos-9-stream-tripleo-vexxhost
    - name: crc
      label: coreos-crc-extracted-xxl
  required-projects:
  ...

Create new roles to gather env images and override operator
  ci_framework/playbooks/99-logs.yml
  ci_framework/roles/edpm_prepare/tasks/main.yml
  ci_framework/roles/env_op_images/README.md
  ci_framework/roles/env_op_images/defaults/main.yml
  ci_framework/roles/env_op_images/molecule/default/converge.yml
  ci_framework/roles/env_op_images/molecule/default/molecule.yml
  ci_framework/roles/env_op_images/molecule/default/prepare.yml
  ci_framework/roles/env_op_images/tasks/main.yml
  ci_framework/roles/install_yamls/defaults/main.yml
  ci_framework/roles/override_op_image/README.md
  ci_framework/roles/override_op_image/defaults/main.yml
  ci_framework/roles/override_op_image/molecule/default/converge.yml
  ci_framework/roles/override_op_image/molecule/default/molecule.yml
  ci_framework/roles/override_op_image/molecule/default/prepare.yml
  ci_framework/roles/override_op_image/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-galera-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-crc-podified-edpm-deployment-crc-extracted

this is the first batch of the ci_script implementation
  ci_framework/roles/build_containers/tasks/install.yml
  ci_framework/roles/build_containers/tasks/main.yml
  ci_framework/roles/openshift_provisioner_node/molecule/defaults/converge.yml
  ci_framework/roles/os_must_gather/tasks/main.yml
  ci_framework/roles/set_openstack_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

fix basedir
  ci_framework/roles/build_containers/tasks/install.yml
  ci_framework/roles/build_containers/tasks/main.yml
  ci_framework/roles/openshift_provisioner_node/molecule/defaults/converge.yml
  ci_framework/roles/os_must_gather/tasks/main.yml
  ci_framework/roles/set_openstack_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

trailing whitspace
  ci_framework/roles/os_must_gather/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

replace cmd var for script
  ci_framework/roles/build_containers/tasks/install.yml
  ci_framework/roles/build_containers/tasks/main.yml
  ci_framework/roles/openshift_provisioner_node/molecule/defaults/converge.yml
  ci_framework/roles/os_must_gather/tasks/main.yml
  ci_framework/roles/set_openstack_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

string literal
  ci_framework/plugins/action/ci_script.py
  ci_framework/roles/set_openstack_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

add args to ci_script
  ci_framework/roles/build_containers/tasks/install.yml
  ci_framework/roles/build_containers/tasks/main.yml
  ci_framework/roles/openshift_provisioner_node/molecule/defaults/converge.yml
  ci_framework/roles/os_must_gather/tasks/main.yml
  ci_framework/roles/set_openstack_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

add args to ci_script
  ci_framework/roles/build_containers/tasks/install.yml
  ci_framework/roles/openshift_provisioner_node/molecule/defaults/converge.yml
  ci_framework/roles/set_openstack_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

script to shell on built-images retrieval
  ci_framework/roles/build_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

store built images script pipe rm
  ci_framework/roles/build_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

added missing var
  ci_framework/roles/openshift_provisioner_node/molecule/defaults/converge.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

Correct makefile known parameters and how we handle them
  ci_framework/roles/install_yamls/README.md
  ci_framework/roles/install_yamls/defaults/main.yml
  ci_framework/roles/install_yamls/tasks/main.yml
  docs/source/quickstart/04_non-virt.md
  scenarios/centos-9/edpm_baremetal_deployment_ci.yml
  scenarios/centos-9/edpm_ci.yml
  scenarios/centos-9/install_yamls.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-galera-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-crc-podified-edpm-deployment-crc-extracted

run container build removed pipe
  ci_framework/roles/build_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

end of file
  ci_framework/roles/os_must_gather/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

executable
  ci_framework/roles/build_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

removed executable
  ci_framework/roles/build_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

DNM Checking edpm job with extracted CRC image
  ci/playbooks/build_runner_image.yml
  ci/playbooks/collect-logs.yml
  ci/playbooks/wait-for-crc.yaml
  ci_framework/hooks/playbooks/fetch_compute_facts.yml
  ci_framework/roles/edpm_deploy/tasks/main.yml
  ci_framework/roles/edpm_prepare/tasks/main.yml
  scenarios/centos-9/edpm_ci.yml
  zuul.d/edpm.yaml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, ci-framework-crc-podified-edpm-deployment, ci-framework-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

removed artifacts
  ci_framework/roles/build_containers/tasks/main.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

[Wip]Allow tcib job to behave as a content provider
  ci/playbooks/tcib/run.yml
  ci/playbooks/tcib/tcib.yml
  ci_framework/roles/edpm_deploy_baremetal/README.md
  ci_framework/roles/edpm_deploy_baremetal/defaults/main.yml
  ci_framework/roles/edpm_deploy_baremetal/tasks/main.yml
  scenarios/centos-9/edpm_periodic.yml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, ci-framework-crc-podified-edpm-baremetal, cifmw-crc-podified-edpm-deployment-crc-extracted

Allow to reproduce a CI run locally using libvirt
  ci_framework/roles/libvirt_manager/defaults/main.yml
  ci_framework/roles/libvirt_manager/tasks/clean_layout.yml
  ci_framework/roles/libvirt_manager/tasks/create_vms.yml
  ci_framework/roles/libvirt_manager/tasks/deploy_edpm_compute.yml
  ci_framework/roles/libvirt_manager/tasks/deploy_layout.yml
  ci_framework/roles/libvirt_manager/tasks/get_image.yml
  ci_framework/roles/libvirt_manager/tasks/polkit_rules.yml
  ci_framework/roles/libvirt_manager/templates/domain.xml.j2
  ci_framework/roles/reproducer/README.md
  ci_framework/roles/reproducer/defaults/main.yml
  ci_framework/roles/reproducer/meta/main.yml
  ci_framework/roles/reproducer/molecule/default/converge.yml
  ci_framework/roles/reproducer/molecule/default/molecule.yml
  ci_framework/roles/reproducer/tasks/cleanup.yml
  ci_framework/roles/reproducer/tasks/main.yml
  docs/dictionary/en-custom.txt
  docs/source/cookbooks/reproducer.md
  reproducer-clean.yml
  reproducer.yml
  scenarios/reproducers/3-nodes.yml
  scenarios/reproducers/README.md
  zuul.d/molecule.yaml
  zuul.d/projects.yaml
Due: cifmw-crc-podified-edpm-deployment, cifmw-crc-podified-edpm-baremetal, cifmw-crc-podified-galera-deployment, cifmw-crc-podified-edpm-deployment-crc-extracted

Path conditions:
  cifmw-crc-podified-edpm-deployment: unless all of: .*/*.md
  cifmw-crc-podified-edpm-baremetal: unless all of: .*/*.md
  cifmw-crc-podified-galera-deployment: unless all of: .*/*.md
  ci-framework-crc-podified-edpm-deployment: any of: ^ci_framework/playbooks/*, ^ci_framework/roles/edpm_prepare/(?!meta|README).*, ^ci_framework/roles/edpm_deploy/(?!meta|README).*, ^deploy-edpm.yml, ^scenarios/centos-9/edpm_ci.yml
  ci-framework-crc-podified-galera-deployment: any of: ^ci_framework/playbooks/*, ^ci_framework/roles/edpm_prepare/(?!meta|README).*, ^deploy-edpm.yml, ^scenarios/centos-9/edpm_ci.yml
  ci-framework-crc-podified-edpm-baremetal: any of: ^ci_framework/playbooks/*, ^ci_framework/roles/edpm_deploy_baremetal/(?!meta|README).*, ^ci/playbooks/edpm_baremetal_deployment/run.yml, ^deploy-edpm.yml, ^scenarios/centos-9/edpm_baremetal_deployment_ci.yml
  cifmw-crc-podified-edpm-deployment-crc-extracted: unless all of: .*/*.md
